<html>
<header>
    <link rel="stylesheet" type="text/css" href="/static/css/kllpw.css">
    <script src="/static/js/kllpw.js"></script>
</header>

<div class="ascii-art">{{.Header}}</div>
<div>
    <a href="/">home </a>
    <a id="login" name="login" hidden=true href="/user/login">login</a>
    <br>
    <label>Username:</label><input id="username" name="username"></input>
    <label>Password:</label><input type="password" id="password" name="password"></input>
    <input type="button" value="register"onclick="register();"></input>
    <br>
    <label>Response:</label><label id="response" name="response">Waiting....</label>
</div>
</html>